<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./css/style.css">
<link rel="icon" href="./img/icon.jfif">
<title>About</title>
</head>
<body>

    {{>header}}
    <div class="main-content"> About me</div>
    {{>footer}}
</body>
</html>