<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./css/style.css">
<link rel="icon" href="./img/icon.jfif">
<title>Help</title>
</head>
<body>

        {{>header}}
        <div class="main-content"> {{message}}</div>
        {{>footer}}
</body>
</html>